In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [2]:
CCTV_Seoul = pd.read_csv('../data/01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head(3)

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204

In [3]:
df = CCTV_Seoul

In [27]:
df.iloc[:, [5]]

    2016년
0     932
1     377
2     204
3      81
4     613
5     174
6     323
7     354
8     516
9     386
10    579
11    314
12    379
13    292
14    398
15    265
16    204
17    463
18    467
19    373
20    398
21    468
22    630
23    348
24    109

In [13]:
df['2014년'].unique()

array([430,  99, 120, 258, 260,  78, 173,  51,  57, 159,  23, 341, 118,
        50, 157,  91,  21, 142, 214, 218, 224, 314, 190, 121], dtype=int64)

In [18]:
type(df['2014년'])

pandas.core.series.Series