In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [2]:
CCTV_Seoul = pd.read_csv('../data/01. CCTV_in_Seoul.csv', encoding='utf-8')
CCTV_Seoul.head(3)

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204

In [3]:
df = CCTV_Seoul

In [40]:
df.iloc[:,[5]].values

array([[932],
       [377],
       [204],
       [ 81],
       [613],
       [174],
       [323],
       [354],
       [516],
       [386],
       [579],
       [314],
       [379],
       [292],
       [398],
       [265],
       [204],
       [463],
       [467],
       [373],
       [398],
       [468],
       [630],
       [348],
       [109]], dtype=int64)

In [45]:
df['2014년'].values

array([430,  99, 120, 258, 260,  78, 173,  51,  57, 159,  23, 341, 118,
        50, 157,  91,  78,  21, 142, 214, 218, 224, 314, 190, 121],
      dtype=int64)

In [32]:
type(df['2014년'])

pandas.core.series.Series